<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="no-js logged-out">
    <head>
        {% trans_default_domain "dolly" %}
        <title>{% block page_title %}{{ title|default( 'Hjem'|trans() ) }}{% endblock %}</title>
        {% block page_head %}
            <meta charset="utf-8" />


            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
            <link rel="apple-touch-icon" href="{{ asset('favicon.png') }}">
            <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        {% block page_head_css %}
            {% stylesheets
                '@dolly_css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block page_head_js %}
            {% javascripts
                '@dolly_head_js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    </head>
    <body>
        {% block header %}
            <header class="header-container">
                <nav class="header">
                    {{ render(controller('AppDollyBundle:Dolly:headerNav')) }}
                    <div class="header__absolute">
                        <div class="header__absolute-content">
                            <a href="#" class="header__link header__link--right header-cart" id="header-cart">Bestilling <span class="header-cart__items">0</span></a>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}

        <button id="scrollToTop" class="to-top-button">{{ 'Til toppen'|trans }}</button>

        {% block content %}
            <main>
                <div class="jumbotron">
                    <div class="container">
                        <h1>{{ 'Dolly frontend'|trans() }}</h1>
                        <p>{{ 'Jumbotron description'|trans() }}</p>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ 'Inner content'|trans() }}</p>
                        </div>
                    </div>
                </div>

            </main>
        {% endblock %}

        {% block sidecart %}
            {{ include('AppDollyBundle::sideCart.html.twig') }}
        {% endblock %}

        {% block footer %}
            <section id="popup" class="popup hidden">
                <div class="popup__outer">
                    <div class="popup__inner">

                        <div class="popup__overlay" data-toggle="popup-open" data-toggle-hidden="#popup"></div>
                        <div id="popup-content"></div>

                    </div>
                </div>
            </section>

            <footer class="footer">
                <div class="footer__content">
                    <div class="footer__info">

                        <a href="tel:04440" class="footer__info-link footer__info-link--phone">0 44 40</a>
                        <a href="https://www.facebook.com/dollypizza" target="_blank" class="footer__info-link footer__info-link--facebook">Facebook</a>

                    </div>
                    {{ render(controller('AppDollyBundle:Dolly:footer')) }}
                </div>
            </footer>
        {% endblock %}

        {% block footer_js %}
            <script>

                var API_PATH = '{{ api_base_path }}';

                var FB_APP_ID = '{{ facebook_api_id }}';
                var FB_API_VERSION = '{{ facebook_api_version }}';
               
                {% for key, value in api_paths %}var {{ key }} = '{{ api_base_path }}{{ value }}';
                {% endfor %}
                
            </script>
            {% javascripts
                '@dolly_footer_js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script>
                // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                // e.src='//www.google-analytics.com/analytics.js';
                // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                // ga('create','UA-XXXXX-X');ga('send','pageview');
            </script>

            {# comment lines above to remove websocket js support #}
            {#{{ ws_client() }}#}
            {#<script type="text/javascript">#}
                {#&#123;&#35;var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";&#35;&#125;#}
                {#var _WS_URI = "ws://dolly.loc/exchange";#}
                {#var webSocket = WS.connect(_WS_URI);#}
                {#webSocket.on("socket/connect", function(session){#}
                    {#//session is an Autobahn JS WAMP session.#}
                    {#console.log("Successfully Connected!");#}

                    {#session.call("sample/add_func", {"term1": 2, "term2": 5}).then(#}
                            {#function(result)#}
                            {#{#}
                                {#console.log("RPC Valid!", result);#}
                            {#},#}
                            {#function(error, desc)#}
                            {#{#}
                                {#console.log("RPC Error", error, desc);#}
                            {#}#}
                    {#);#}

                {#});#}

                {#webSocket.on("socket/disconnect", function(error){#}
                    {#//error provides us with some insight into the disconnection: error.reason and error.code#}
                    {#console.log("Disconnected for " + error.reason + " with code " + error.code);#}
                {#});#}
            {#</script>#}
        {% endblock %}


    </body>
</html>
