{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Restaurants{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Restaurants</h1>
            <p>Here you will find all restaurants that have been defined together with the information that is stored on the restaurant. Restaurants must be created in OpenSolution before it will show up in the lists below. </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if entities|length > 0 %}
                    <table class="table table-hover big-icons">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Street address</th>
                            <th>Zip</th>
                            <th>City</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for restaurant in entities %}

                        <tr>
                           <td>{{ restaurant.id }}</td>
                            <td>{{ restaurant.title }}</td>
                            <td>{% if restaurant.address %}{{ restaurant.address.address }}{% endif %}</td>
                            <td>{% if restaurant.address %}{{ restaurant.address.postCode }}{% endif %}</td>
                            <td>{% if restaurant.address %}{{ restaurant.address.postOffice }}{% endif %}</td>
                            <td>{{ restaurant.status }}</td>
                            <td>
                                <p class="btn-group" role="group">
                                    <a class="btn btn-warning btn-sm" href="{{ path('app_back_office_restaurant_update', {'id': restaurant.id}) }}" title="Edit restaurant info" role="button"><i class="glyphicon glyphicon-edit"></i></a>
                                    {#
                                    <a class="btn {% if restaurant.status %}btn-danger{% else %}btn-success{% endif %} btn-sm" href="{{ path('app_back_office_restaurant_disable', {'id': restaurant.id}) }}" title="Disable restaurant" role="button">
                                        <i class="glyphicon {% if restaurant.status %}glyphicon-ban-circle{% else %}glyphicon-ok{% endif %}"></i>
                                    </a>
                                    #}
                                    <a class="btn btn-default btn-sm" href="{{ path('app_back_office_restaurant_opening_hours_page_id', {'id': restaurant.id}) }}" title="View/edit Restaurant opening hours" role="button"><i class="glyphicon glyphicon-time"></i></a>
                                    <a class="btn btn-default btn-sm" href="{{ path('app_back_office_delivery_restaurant', {'id': restaurant.id}) }}" title="View restaurant delivery zones" role="button"><i class="glyphicon glyphicon-map-marker"></i></a>
                                    <a class="btn btn-default btn-sm" href="{{ path('app_back_office_restaurant_performance', {'id': restaurant.id}) }}" title="Report high load" role="button"><i class="glyphicon glyphicon-warning-sign"></i></a>
                                    <a class="btn btn-default btn-sm" href="{{ path('app_back_office_restaurant_out_of_stok_page_id', {'id': restaurant.id}) }}" title="Report out of ingredients" role="button"><i class="glyphicon glyphicon-exclamation-sign"></i></a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There are no visible restaurants</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
