{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}{{ restaurant.title }} / Restaurants{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ restaurant.title }}</h2>
            <div class="list-group">
                {% for key, val in restaurant.data %}
                    {% if val is not iterable %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4 col-md-3 col-xl-2">{{ key }}:</div>
                                <div class="col-xs-8 col-md-9 col-xl-10">
                                    {% if val is empty %}
                                        &nbsp;
                                    {% else %}
                                        {#{% if val.data is defined %}#}
                                            {#{% for k, v in val.data %}#}
                                                {#<p>{{ k }}: {{ v }}</p>#}
                                            {#{% endfor %}#}
                                        {#{% else %}#}
                                            {#{{ val }}#}
                                        {#{% endif %}#}
                                        {% if val.address is defined %}
                                            <p>{{ val.address }}, {{ val.postCode }}, {{ val.postOffice }}</p>
                                            <p> ({{ val.latitude }}, {{ val.longitude }})</p>
                                        {% elseif val.seoTitle is defined %}
                                            <p>{{ val.seoTitle }}</p>
                                            <p>{{ val.seoDescription }}</p>
                                            <p>{{ val.seoKeywords }}</p>
                                        {% else %}
                                            {{ val }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-3 col-xl-2"><a class="btn btn-link" href="{{ path('app_back_office_restaurant_index') }}">Back to list</a></div>
                <div class="col-xs-8 col-md-9 col-xl-10">
                    <div class="btn-group" role="group">
                        <a class="btn btn-warning" href="{{ path('app_back_office_restaurant_update', {'id': restaurant.id}) }}" role="button">Update</a>
                        <a class="btn btn-danger" href="{{ path('app_back_office_restaurant_delete', {'id': restaurant.id}) }}" role="button">Delete</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
