{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Delivery Routes{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Delivery routes</h1>
                    <p>Manage the delivery routes here.</p>

                    <!--form name="search" method="get" action="customers.php">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="query" class="form-control" value="" placeholder="Customer name, phone, email or address..." />
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Søk!</button>
                                </span>
                            </div>
                        </div>
                    </form-->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if entities|length > 0 %}
                    <table class="table table-hover big-icons">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Disabled from</th>
                            <th>Disabled to</th>
                            <th>Disabled message</th>
                            <th>Restaurants</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for droute in entities %}
                        <tr>
                            <td>{{ droute.name }}</td>
                            <td>{{ droute.status }}</td>
                            <td>{{ droute.disabledFrom ? droute.disabledFrom|date("d/m/Y H:i") : '-' }}</td>
                            <td>{{ droute.disabledTo ? droute.disabledTo|date("d/m/Y H:i") : '-' }}</td>
                            <td>{{ droute.disabledMessage }}</td>
                            <td>{{ droute.deliveryRouteRestaurants|length }}</td>
                            <td>
                                <p class="btn-group" role="group">
                                    <a class="btn btn-warning btn-sm" href="{{ path('app_back_office_delivery_update', {'id': droute.id}) }}" title="Update route" role="button"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-danger btn-sm" href="{{ path('app_back_office_delivery_delete', {'id': droute.id}) }}" title="Delete route" role="button"><i class="glyphicon glyphicon-trash"></i></a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No delivery routes defined yet</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
