{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Update Delivery Route{% endblock %}

{% form_theme form 'AppBackOfficeBundle:Form:fields.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Update Delivery Route</h2>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {% for key, row in form.children %}
                    {% if key != 'submit' %}
                        {{ form_row(form[key]) }}
                    {% endif %}
                {% endfor %}
            <div class="row">
                <div class="col-md-6" data-app-list="drr">
                    <div class="row form-group">
                        <label class="col-md-5">Restaurant</label>
                        <label class="col-md-5">Priority</label>
                    </div>
                    {% for drr in dr_restaurants %}
                        {% set vars = {
                            'id': drr.restaurant.id,
                            'name': drr.restaurant.name,
                            'pri': drr.restaurantPriority
                        } %}
                        {% include '@AppBackOffice/DeliveryRoute/Include/delivery_route_restaurant_listitem.html.twig' with vars %}
                    {% endfor %}
                    <p data-app-block="no-drr"{% if dr_restaurants|length > 0 %} style="display:none;"{% endif %}>No restaurants assigned to this route</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col-md-5">
                            <select class="form-control input-sm" data-app-source="drr"{% if restaurants|length == 0 %} disabled="disabled"{% endif %}>
                                {% for r in restaurants %}
                                    <option value="{{ r.id }}">{{ r.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <button class="btn btn-sm btn-success" title="Add restaurant" type="button" data-app-action="add-entity"{% if restaurants|length == 0 %} disabled="disabled"{% endif %}><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <div>
                <a href="{{ path('app_back_office_delivery_index') }}">Back to list</a>
            </div>
        </div>
    </div>
</div>
<div class="model-template drr-listitem">
    {% set vars = {
    'id': '#{id}',
    'name': '#{name}',
    'pri': '#{pri}'
    } %}
    {% include '@AppBackOffice/DeliveryRoute/Include/delivery_route_restaurant_listitem.html.twig' with vars %}
</div>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ asset('bundles/appbackoffice/js/delivery_route_update.js') }}"></script>
{% endblock %}
