{#
    This is the message body of the email sent
#}
<html>
    <head>
        <title>Contact request</title>
    </head>
    <body>
        <b>{{ "First name"|trans( {}, 'dolly' ) }}:</b> {{firstName}}<br>
        <b>{{ "Last name"|trans( {}, 'dolly' ) }}:</b> {{lastName}}<br>
        <b>{{ "Email"|trans( {}, 'dolly' ) }}:</b> {{email}}<br>
        <b>{{ "IP address"|trans( {}, 'dolly' ) }}:</b> {{ip}}<br>
        <br>
        {{message|nl2br}}
    </body>
</html>