{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}View {{ entity.name }}{% endblock %}

{% block content %}
    {% set product = entity %}
    <div class="container" data-product="{{ product.id }}">
        <div class="row">
            <div class="col-md-12">
                <h1>View product #{{ product.id }}</h1>
                <div class="list-group">
                    {% for key, val in product.data %}
                        {% if val is not iterable %}
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-xl-2">{{ key }}:</div>
                                    <div class="col-xs-8 col-md-9 col-xl-10">
                                        {% if val is empty %}
                                            &nbsp;
                                        {% else %}
                                            {% if val.timestamp is defined %}
                                                {{ val|date("d/m/Y H:i") }}
                                            {% elseif val.id is defined %}
                                            {% else %}
                                                {{ val }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <h3>Product variants</h3>
                <table class="table" data-product-variants>
                    <thead>
                    <tr>
                        <td width="250">Name</td>
                        <td width="250">OS Product</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for variant in product.variants %}
                        {% include 'AppBackOfficeBundle:Product/Include:view_variant.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="btn-group" role="group">
                    <a class="btn btn-warning" href="{{ path('app_back_office_product_update', {'id': product.id}) }}" role="button">Update</a>
                    <a class="btn btn-danger" href="{{ path('app_back_office_product_delete', {'id': product.id}) }}" role="button">Delete</a>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 col-xl-2"><a class="btn btn-link" href="{{ path('app_back_office_product_index') }}">Back to list</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}