{% extends "WebBundle::pagelayout.html.twig" %}

{% block page_head_js %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="map" xmlns="http://www.w3.org/1999/html">
        <div class="addresses__map" id="map" data-app-block="map"></div>
    </div>
    <main class="main main--grid">
        <div class="row">
            {% for region in regions %}
            <div class="col-md-12">
    {{ region.name }}
gfhjf
                 fgjh
                fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>
                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>
                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>
                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v

                fghj</br>fghj</br>fghj</br>vfghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>fghj</br>v
            </div>
            {% endfor %}

        </div>
    </main>

{% javascripts
    'bundles/web/js/map_index.js'
%}
    <script src="{{ asset_url }}"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9D7AL7iWlC63VDNIO6_wsWcfNCBPqWE0">
    </script>
    <script>
        var lat =48.4278732, lng =31.255213, zoom = 6;
            initMap(lat,lng,zoom);

        {% for region in regions %}
            var optionMarker = {
                position: { lat:{{ region.lat }}, lng:{{ region.lng }} },
                map: map,
                title: '{{ region.name }}'
            };
            var marker = new google.maps.Marker(optionMarker);
            marker.clickListener = google.maps.event.addListener(marker, 'click', function () {

            });
            marker.setMap(map);
        {% endfor %}
    </script>

    {% endjavascripts %}
{% endblock %}