{% extends "WebBundle::pagelayout.html.twig" %}

{% block page_head_js %}
    {{ parent() }}

{% endblock %}
{% block title %}
    Соседи {{ organize.title }}
{% endblock %}
{% block content %}

<div id="start_page">
    <div class="row">
        {% if organize.showMessage %}
            <div class="alert alert-danger" style="margin-bottom: 3px">
                <p class="text-center">
                    <strong>Внимание!</strong>
                </p>
                <p class="text-center">
                    {{ organize.message }}
                </p>
            </div>
        {% endif %}

        <div class="col-sm-2" style="background: #2c3e50; border: 1px solid #fff; padding: 0 0 0 2%; color: white">
            <h4>
                <span class="glyphicon glyphicon-home"> {{ organize.title }}</span>
            </h4>
            <h5>
                <span class="glyphicon glyphicon-globe">
                    {{ organize.city.title }},
                    {{ organize.address }}
                </span>
            </h5>
            <h5>
                <span class="glyphicon glyphicon-user">
                    {{ organize.city.title }},
                    {{ organize.address }}
                </span>
            </h5>
        </div>

        {% if app.user %}
        <p>Username: {{ dump(organize) }}</p>

        {% endif %}
        {% if organize.forums %}
            <div class="col-sm-10" style="background: #2c3e50; border: 1px solid #fff">
                <div class="row placerem">
                    {% for forum in organize.forums %}
                    <div class="col-md-3 ">
                    <div class="blog_news">
                    <img src="/images/odessa.jpg" alt="Chania">
                    <h2>Tittle</h2>
                    <span>
                    lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                    lorem ipsumlorem ipsumlorem ipsumlorem ipsum
                    lorem ipsumlorem ipsumlorem ipsum
                    lorem ipsumlorem ipsumlorem ipsum
                    </span>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>
</div>
{% javascripts
    'bundles/web/js/map_index.js'
%}
    <script src="{{ asset_url }}"></script>


    {% endjavascripts %}
{% endblock %}