{% extends "AppDollyBundle::pagelayout.html.twig" %}

{% trans_default_domain "dolly" %}
{% block content %}
<main class="main main--narrow">

    <h2>Din bestilling</h2>

    <div id="cart">
        <form action="{{ path('dolly_payment') }}">

            <div class="table-container">
                <table class="cart-table">
                    <thead>
                    <tr>
                        <td colspan="2">Produkt</td>
                        <td>Antall</td>
                        <td>Pris</td>
                    </tr>
                    </thead>
                    <tbody id="cart-content"></tbody>
                </table>
            </div>

        {% if upsale|length > 0 %}
            <div class="cart__offer">
                {% for product in upsale %}
                    {% if product|length > 0 and product.data|length > 0 %}

                    <div class="cart__offer-item">
                        <input type="hidden" name="product_id" value="{{ product.data.id }}">
                        <h4>{{ product.data.name }}</h4>
                        {{ product.data.description }}
                        <img src="{{ asset(product.image) }}" alt="Produkt" class="cart__offer-image">
                        <a href="#" class="form-group__btn" id="cart-offer" data-product-link="7">Legg til ({{ product.price }} kr)</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
            <div class="cart__summary">
                <div class="form-group form-group--bordered">
                    <div class="form-group__field">
                        <input type="text" class="transparent" placeholder="Har du en kupongkode? Klikk her">
                    </div>
                </div>
                <div class="form-group form-group--bordered cart__summary-prices">
                    <div class="form-group__field form-group__field--text">
                        <p>Totalt</p>
                        <p class="cart__amount"><span id="cart-amount"></span> kr</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__field">
                        <button type="submit" class="form-group__btn form-group__btn--block form-group__btn--submit">Gå til betaling</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__field">
                        <a href="{{ path('dolly_menu_page', {'id': topMenuItem.slug}) }}" class="form-group__btn form-group__btn--block form-group__btn--discrete">FORTSETT Å HANDLE</a>
                    </div>
                </div>
            </div>

        </form>
    </div>

</main>
{% endblock %}