{% extends "AppDollyBundle::pagelayout.html.twig" %}
{% trans_default_domain "dolly" %}
{% block content2 %}
    {#{ dump(orderData) }}
    {{ dump(customer) }}
    {{ dump(cartData) }#}
{% endblock %}
{% block content %}
    <main class="main main--narrow">
        <h2>KVITTERING</h2>

        <div class="info-group">
            <div class="info-group__field">
                <h4>Kundenavn</h4>

                <p>{{ customer.firstName }} {{ customer.lastName }}</p>
            </div>
            <div class="info-group__field">
                <h4>LEVERES VED</h4>

                <p>{{ orderData.address }}, {{ orderData.postCode }}, {{ orderData.postOffice }}</p>
            </div>
            <div class="info-group__field">
                <h4>BETALINGSMÅTE</h4>

                <p>Kontant</p>
            </div>
            <div class="info-group__field">
                <h4>AVTALT TID</h4>

                <p>Fredag 01.02.2015 - 22:05</p>
            </div>
        </div>
        <h3>ORDREN DIN</h3>

        <div class="form-group">
            <div class="table-container">
                <table class="cart-table">
                    <tbody id="cart-content">
                    {% for cartItem in cartData.items %}
                    <tr class="cartItem._row">
                        <td>
                            <img class="cartItem._image" src="{{ asset(cartItem.productVariant.object.image) }}"
                                 alt="King Creole">
                        </td>
                        <td>
                            <h3 class="cartItem._title">{{ cartItem.productVariant.object.name }}</h3>

                            <p>{{ cartItem.productVariant.presentation }}</p>
                        </td>
                        <td class="cartItem._prices">
                            <p>{{cartItem.total}} kr</p>
                        </td>
                    </tr>
                    {% else %}
                    {% endfor %}
                    <tr class="cart__row">
                        <td>
                            <img class="cart__image" src="images/gfx/delivery.svg" alt="Levering">
                        </td>
                        <td>
                            <h3 class="cart__title">{{ orderData.type }}</h3>

                            <p></p>
                        </td>
                        <td class="cart__prices">
                            <p>{{cartData.total - cartData.itemsTotal}} kr</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cart__offer">
            <h4>HALVSTEKT</h4>

            <p>Maecenas scelerisque lacus ut molestie volutpat. Cras egestas lacinia mattis. Integer ac malesuada nunc,
                a ornare felis.</p>
        </div>
        <div class="cart__summary">
            <div class="form-group form-group--bordered cart__summary-prices">
                <div class="form-group__field form-group__field--text">
                    <p>Totalt</p>

                    <p class="cart__amount"><span id="cart-amount">{{cartData.total}}</span> kr</p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group__field">
                    <a href="{{ path('dolly_homepage') }}" type="submit" class="form-group__btn form-group__btn--block form-group__btn--submit">Til
                        forsiden</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
