{% spaceless %}
    <nav class="footer__links">
        <ul>
            {% for key, block in data %}
                {% if block.title is defined and block.title and block.links is defined and block.links|length > 0 %}
                    <li>
                        <h4>{{ block.title }}</h4>
                        <ul>
                            {% for link in block.links %}
                                {% if link.href is defined and link.href and link.href not in heidLinks and link.title is defined and link.title %}
                                    <li><a
                                            {% if link.href|slice(0, 1) == '/' %}
                                                href="{{ path('dolly_homepage')|slice(0, -1) }}{{ link.href }}"
                                            {% else %}
                                                href="{{ link.href }}" target="_blank"
                                            {% endif %}>{{ link.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if key == 0 %}
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}" class="logged-in-only">Logg ut</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endspaceless %}