{% extends "AppDollyBundle::pagelayout.html.twig" %}

{% trans_default_domain "dolly" %}

    {% block page_title %}
        {% if pageNode.seo.seotitle is defined %}
            {{ pageNode.seo.seotitle }}
        {% else %}
            {{ title|default( 'Hjem'|trans() ) }}
        {% endif %}
    {% endblock %}
{% block page_head %}
    {{ parent() }}
    {% if pageNode.seo %}
        <meta name="description" content="{{ pageNode.seo.seodescription }}">
        <meta name="keywords" content="{{ pageNode.seo.seokeywords }}">
    {% endif %}
{% endblock %}
{% block content %}
    {% if pageNode %}
        <main class="main main--grid">
            <img src="{% if pageNode.heroImage %}{{ pageNode.heroImage.path }}{% endif %}" class="main__image"
                 alt="{{ pageNode.alternativeHeroText }}"/>

            <div class="grid" data-grid>
                {% for block in pageNode.blocks %}
                    <div class="grid__elm grid__elm--full {{ classIdent[block.style] }}"
                         {% if block.url %}data-link-block{% endif %}>
                        <{% if block.url %}a{% else %}span{% endif %} id="uniqueCampaingID{{ block.id }}"
                                {% if block.url %}
                                    href="{{ block.url }}"
                                {% endif %}
                                        class="grid__image"
                                        style="background-image:url('{% if block.secondaryImage %}{{ block.secondaryImage.path }}{% endif %}');"
                                        data-large-grid-style="background-image:url('{% if block.mainImage %}{{ block.mainImage.path }}{% endif %}');">
                            {{ block.alternativeText }}
                        </{% if block.url %}a{% else %}span{% endif %}>
                    </div>
                {% else %}
                {% endfor %}
            </div>
        </main>
    {% else %}
        <p>
            <b>{{ 'Design not ready yet'|trans({}, 'dolly') }}!</b>
        </p>
        <p>
            {{ 'Anorak is working on a design for the front page'|trans({}, 'dolly') }}.
        </p>
    {% endif %}
    {#
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
    #}
{% endblock %}
