{% extends "AppDollyBundle::pagelayout.html.twig" %}

{% trans_default_domain "dolly" %}
{% block page_title %}
    {% if entity.seo.seotitle is defined %}
        {{ entity.seo.seotitle }}
    {% else %}
        {{ title|default( 'Hjem'|trans() ) }}
    {% endif %}
{% endblock %}
{% block page_head %}
    {{ parent() }}
    <meta name="robots" content="{% if entity.hideForSearchEngines == 1%}noindex, nofollow{% else %}index, follow{% endif %}">
    {% if entity.seo %}
        <meta name="description" content="{{ entity.seo.seodescription }}">
        <meta name="keywords" content="{{ entity.seo.seokeywords }}">
    {% endif %}
{% endblock %}
{% block header %}
    <header class="header-container header-container--sub">
        <nav class="header">
            {{ render(controller('AppDollyBundle:Dolly:headerNav')) }}
            
            <div class="header__absolute" data-follow="top">
                <div class="header__absolute-content">
                    <a href="#" class="header__link header__link--right header-cart" id="header-cart">Bestilling <span class="header-cart__items">0</span></a>
                </div>
            </div>
        </nav>

        <nav class="subheader" id="subheader" data-follow="top">
            <div class="subheader__menu">
                <ul class="subheader__menu-inner" id="subheader-list">
                    {% for menuEntity in navigation %}
                        <li><a href="{{ path('dolly_menu_page', {'id': menuEntity.slug}) }}" class="subheader__link{% if menuEntity.slug == id %} subheader__link--active{% endif %}">{{ menuEntity.name }}</a></li>
                    {% endfor %}
                    <li class="subheader-dropdown closed" id="subheader-dropdown">
                        <a href="#" class="subheader__link subheader__link--dropdown" data-toggle-dropdown="#subheader-dropdown">{{ 'Mer'|trans() }}</a>
                        <ul class="subheader-dropdown__list" id="subheader-dropdown-list"></ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block cartButton %}
    <div class="header__absolute" data-follow="top">
        <div class="header__absolute-content">
            <a href="#" class="header__link header__link--right header-cart" id="header-cart">Bestilling <span class="header-cart__items">0</span></a>
        </div>
    </div>
{% endblock %}

{% block content %}
<main class="main main--grid">
    <div class="grid" id="product-thumbs">
        <nav class="navigation-list list-menu">
            <ul>
                <li>
                    <a href="#" class="list-menu__link list-menu__link--active" data-expand="#submenu-dropdown">{{ 'Meny'|trans() }}</a>
                    <ul class="dropdown closed" id="submenu-dropdown">
                        <li><a href="#" class="list-menu__link">Klassisk pizza</a></li>
                        <li><a href="#" class="list-menu__link">GLUTENFRI PIZZA</a></li>
                        <li><a href="#" class="list-menu__link">PIZZA ITALIA</a></li>
                        <li><a href="#" class="list-menu__link">SMÅRETTER</a></li>
                        <li><a href="#" class="list-menu__link">Salater</a></li>
                        <li><a href="#" class="list-menu__link">BARNEPIZZA</a></li>
                        <li><a href="#" class="list-menu__link">TILBEHØR</a></li>
                        <li><a href="#" class="list-menu__link">DRIKKE</a></li>
                        <li><a href="#" class="list-menu__link">DESSERTER</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% spaceless %}
            {#{% for i in 0..13 %}#}
                {#{% if i in [2, 9] %}#}
                    {#{{ include('AppDollyBundle:Dolly/includes:campaignBlock.html.twig') }}#}
                {#{% else %}#}
                    {#{{ include('AppDollyBundle:Dolly/includes:pizzaBlock.html.twig') }}#}
                {#{% endif %}#}
            {#{% endfor %}#}
            {% set products = entity.products %}
            {% for product in products %}
                {% include 'AppDollyBundle:Dolly/includes:pizzaBlock.html.twig' with {'product': product} %}
            {% endfor %}
        {% endspaceless %}
    </div>
</main>
{% endblock %}
