{% extends "AppDollyBundle::pagelayout.html.twig" %}

{% trans_default_domain "dolly" %}
{% block content %}
    <main class="main main--side" id="my-profile">
        {{ include('AppDollyBundle:Dolly:includes/myProfileMenu.html.twig',{active: 'min-profil'}) }}
        <h2>{{ 'Min profil'|trans() }}</h2>

        <form action="{{ path('dolly_profile_page') }}" method="POST">
            <fieldset>
                <div class="form-group">
                    <div class="form-group__labels">
                        <label for="firstname" class="form-group__label">{{ 'Navn'|trans() }}</label>
                    </div>
                    <div class="form-group__fields">
                        <div class="form-group__field form-group__field--half">
                            {{ form_widget(form.firstName, { 'attr': {'placeholder': 'Fornavn'|trans()} }) }}
                        </div>
                        <div class="form-group__field form-group__field--half">
                            {{ form_widget(form.lastName, { 'attr': {'placeholder': 'Etternavn'|trans()} }) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__labels">
                        <label for="email" class="form-group__label">{{ 'E-POSTADRESSE'|trans() }}</label>
                    </div>
                    <div class="form-group__fields">
                        <div class="form-group__field">
                            {{ form_widget(form.email, { 'attr': {'placeholder': 'E-postadresse'|trans()} }) }}
                        </div>
                        <div class="form-group__field form-group__field--checkbox">
                            <input type="checkbox" name="app_customer_settings_type[newsletter]" id="newsletter"
                                   {% if entity.settings %}
                                    {% if entity.settings.acceptNewsletters %} checked="checked"{% endif %}{% endif %}>
                            <label for="newsletter">{{ 'Ja, jeg vil motta bonusmail fra Dolly Dimple’s med gode tilbud, konkurranser, nyheter mm'|trans() }}
                                .</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__labels">
                        <label for="app_customer_type_password"
                               class="form-group__label">{{ 'Nytt passord'|trans() }}</label>
                    </div>
                    <div class="form-group__fields">
                        <div class="form-group__field">
                            {{ form_widget(form.password, { 'attr': {'placeholder': 'Nytt passord'|trans()} }) }}
                        </div>
                        <div class="form-group__field">
                            {{ form_widget(form.passwordrepeat, { 'attr': {'placeholder': 'Gjenta nytt passord'|trans()} }) }}
                        </div>
                    </div>
                </div>
                <h3>Mobilnummer</h3>

                <div class="form-group">
                    <div class="form-group__labels">
                        <label for="phone" class="form-group__label">{{ 'MOBILNUMMER'|trans() }}</label>
                    </div>
                    <div class="form-group__fields">
                        <div class="form-group__field form-group__field--large form-group__field--collapsed">
                            <input type="tel" name="pin[phone]" id="phone" placeholder="Mobilnummer"
                                   value="{{ entity.phone }}"/>
                        </div>

                        <div class="form-group__field form-group__field--small form-group__field--collapsed">
                            <button class="form-group__btn form-group__btn--next">{{ 'Send'|trans() }}</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__labels">
                        <label for="code" class="form-group__label">{{ 'PIN-KODE'|trans() }}</label>
                    </div>
                    <div class="form-group__fields">
                        <div class="form-group__field">
                            <input type="text" name="pin[pin]" id="code" placeholder="Pin-kode">
                        </div>
                        <p>{{ 'Få tilsendt PIN-kode ved å skrive inn ditt mobilnummer og trykk send'|trans() }}.</p>
                    </div>
                </div>
                <h3>Adresse</h3>

                <div class="form-group">
                    <div class="form-group__labels">
                        <label for="streetname" class="form-group__label">{{ 'VELG TYPE'|trans() }}</label>
                        <p class="form-group__sublabel">{{ 'Du kan lagre opptil tre forskjellige adresser. Velg ønsket type og fyll inn eller endre informasjon'|trans() }}.</p>
                    </div>
                    <div class="form-group__fields">
                        <div class="form-group__field">
                            {#{% for addr in entity.addresses %}#}
                            {#{{ dump(addr) }}#}
                            {#{% endfor %}#}
                            <select name="stored-address" id="stored-address" data-select-open>
                                <option value="1" data-select-open-target="#home-address">Hjem</option>
                                <option value="2" data-select-open-target="#work-address">Arbeid</option>
                                <option value="3" data-select-open-target="#other-address">Annen</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="home-address">

                    <div class="form-group">
                        {# HOME ADDRESS #}
                        <div class="form-group__fields">
                            <div class="form-group__field">
                                <input type="text" name="addresses[home][address]" id="home_streetname"
                                       placeholder="Adresse" data-address-dropdown="#home-address-dropdown"
                                        {% if homeAddress.address is defined %}
                                            value="{{ homeAddress.address }}"
                                        {% endif %}
                                        >
                            </div>
                            <div class="form-group__dropdown" id="home-address-dropdown"></div>

                        </div>
                        <div class="form-group__fields">
                            <div class="form-group__field form-group__field--small">
                                <input type="text" name="addresses[home][zip]" id="home_zip"
                                       placeholder="Postnr."
                                        {% if homeAddress.postCode is defined %}
                                            value="{{ homeAddress.postCode }}"
                                        {% endif %}
                                        >
                            </div>
                            <div class="form-group__field form-group__field--large">
                                <input type="text" name="addresses[home][city]" id="home_city"
                                       placeholder="Poststed"
                                        {% if homeAddress.postOffice is defined %}
                                            value="{{ homeAddress.postOffice }}"
                                        {% endif %}
                                        >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__labels">
                            <label for="home_directions" class="form-group__label">{{ 'Veibeskrivelse'|trans() }}</label>
                            <p class="form-group__sublabel">{{ 'Er det vanskelig finne frem? Legg igjen en beskjed til sjåføren her'|trans() }}.</p>
                        </div>
                        <div class="form-group__fields">
                            <div class="form-group__field">
                                <textarea name="addresses[home][directions]" id="home_directions"
                                          placeholder="Veibeskrivelse">{% if homeAddress.directions is defined %}{{ homeAddress.directions }}{% endif %}</textarea>
                                <a href="#" data-type="home" class="form-group__clear">{{ 'Tøm skjema'|trans() }}</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="work-address">

                    {# WORK ADDRESS #}
                    <div class="form-group">
                        <div class="form-group__fields">
                            <div class="form-group__field">
                                <input type="text" name="addresses[work][address]" id="work_streetname"
                                       placeholder="Adresse" data-address-dropdown="#work-address-dropdown"
                                        {% if workAddress.address is defined %}
                                            value="{{ workAddress.address }}"
                                        {% endif %}
                                        >
                            </div>
                            <div class="form-group__dropdown" id="work-address-dropdown"></div>
                        </div>
                        <div class="form-group__fields">
                            <div class="form-group__field form-group__field--small">
                                <input type="text" name="addresses[work][zip]" id="work_zip"
                                       placeholder="Postnr."
                                        {% if workAddress.postCode is defined %}
                                            value="{{ workAddress.postCode }}"
                                        {% endif %}
                                        >
                            </div>
                            <div class="form-group__field form-group__field--large">
                                <input type="text" name="addresses[work][city]" id="work_city"
                                       placeholder="Poststed"
                                        {% if workAddress.postOffice is defined %}
                                            value="{{ workAddress.postOffice }}"
                                        {% endif %}
                                        >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__labels">
                            <label for="work_directions" class="form-group__label">{{ 'Veibeskrivelse'|trans() }}</label>
                            <p class="form-group__sublabel">{{ 'Er det vanskelig finne frem? Legg igjen en beskjed til sjåføren her'|trans() }}.</p>
                        </div>
                        <div class="form-group__fields">
                            <div class="form-group__field">
                                <textarea name="addresses[work][directions]" id="work_directions"
                                          placeholder="Veibeskrivelse">{% if workAddress.directions is defined %}{{ workAddress.directions }}{% endif %}</textarea>
                                <a href="#" data-type="work" class="form-group__clear">{{ 'Tøm skjema'|trans() }}</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="other-address">

                    {# OTHER ADDRESS #}
                    <div class="form-group">
                        <div class="form-group__fields">
                            <div class="form-group__field">
                                <input type="text" name="addresses[other][address]" id="other_streetname"
                                       placeholder="Adresse" data-address-dropdown="#other-address-dropdown"
                                        {% if otherAddress.address is defined %}
                                            value="{{ otherAddress.address }}"
                                        {% endif %}
                                        >
                            </div>
                            <div class="form-group__dropdown" id="other-address-dropdown"></div>
                        </div>
                        <div class="form-group__fields">
                            <div class="form-group__field form-group__field--small">
                                <input type="text" name="addresses[other][zip]" id="other_zip"
                                       placeholder="Postnr."
                                        {% if otherAddress.postCode is defined %}
                                            value="{{ otherAddress.postCode }}"
                                        {% endif %}
                                        >
                            </div>
                            <div class="form-group__field form-group__field--large">
                                <input type="text" name="addresses[other][city]" id="other_city"
                                       placeholder="Poststed"
                                        {% if otherAddress.postOffice is defined %}
                                            value="{{ otherAddress.postOffice }}"
                                        {% endif %}
                                        >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__labels">
                            <label for="other_directions" class="form-group__label">{{ 'Veibeskrivelse'|trans() }}</label>
                            <p class="form-group__sublabel">{{ 'Er det vanskelig finne frem? Legg igjen en beskjed til sjåføren her'|trans() }}.</p>
                        </div>
                        <div class="form-group__fields">
                            <div class="form-group__field">
                                <textarea name="addresses[other][directions]" id="other_directions"
                                          placeholder="Veibeskrivelse">{% if otherAddress.directions is defined %}{{ otherAddress.directions }}{% endif %}</textarea>
                                <a href="#" data-type="other" class="form-group__clear">{{ 'Tøm skjema'|trans() }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group__fields">
                        <div class="form-group__field">
                            <button class="form-group__btn form-group__btn--block form-group__btn--submit">{{ 'Lagre endringer'|trans() }}</button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </main>
    <script type="text/javascript">
        $('.form-group__clear').click(function(e){
            e.preventDefault();
            var addressCont = $(this).parents('#'+$(this).data('type')+'-address');
            addressCont.find('input').val('');
            addressCont.find('textarea').val('');
        });
    </script>
{% endblock %}
