{% extends "AppDollyBundle::pagelayout.html.twig" %}
{% trans_default_domain "dolly" %}
{% block content %}
    <main class="main main--narrow payment">

        <h2>Betaling</h2>

        <form method="post" action="{{ path('dolly_confirmation') }}">
            <fieldset id="payment-data">

                <div class="form-group">
                    <div class="form-group__labels">
                        <label for="firstname" class="form-group__label">Din informasjon</label>
                        <p class="form-group__sublabel">Har noe endret seg siden sist? <br>Du kan gjøre endringer på <a href="{{ path('dolly_profile_page') }}">Min Side</a>.</p>
                    </div>

                    <div class="form-group__fields">
                        <div class="form-group__field form-group__field--half">
                            <input type="text" name="app_customer_type[firstName]" id="app_customer_type_firstName" placeholder="{{ 'Fornavn'|trans() }}" readonly value="{{ form.firstName.data }}">
                        </div>
                        <div class="form-group__field form-group__field--half">
                            <input type="text" name="app_customer_type[lastName]" id="app_customer_type_lastName" placeholder="{{ 'Etternavn'|trans() }}" readonly value="{{ form.lastName.data }}">
                        </div>
                    </div>
                    <div class="form-group__fields">
                        <div class="form-group__field">
                            <input type="text" name="app_customer_type[phone]" id="app_customer_type_phone" placeholder="{{ 'Telefon'|trans() }}" readonly value="{{ form.phone.data }}">
                        </div>
                    </div>
                    <div class="form-group__fields">
                        <div class="form-group__field">
                            <input type="text" name="app_customer_type[email]" id="app_customer_type_email" placeholder="{{ 'Email'|trans() }}" readonly value="{{ form.email.data }}">
                        </div>
                    </div>
                </div>

                <h3>VELG BETALINGSMÅTE</h3>

                <div class="form-group">

                    <div class="form-group__fields form-group__fields--left">
                        <div class="form-group__field form-group__field--checkbox">
                            <input type="radio" name="payment_type" id="payment_private" value="private" data-radio-open="#payment_private_options">
                            <label for="payment_private">Privat</label>
                        </div>
                        <div id="payment_private_options" class="hidden">
                            <div class="form-group__field form-group__field--checkbox form-group__sub">
                                <input type="radio" name="payment_private_options" id="payment_cash" value="cash">
                                <label for="payment_cash">Kontant</label>
                            </div>
                            <div class="form-group__field form-group__field--checkbox form-group__sub">
                                <input type="radio" name="payment_private_options" id="payment_card" value="card">
                                <label for="payment_card">Kredittkort</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group__fields">
                        <div class="form-group__field form-group__field--checkbox">
                            <input type="radio" name="payment_type" id="payment_business" value="business" data-radio-open="#payment_business_options">
                            <label for="payment_business">Firmakunde</label>
                        </div>
                    </div>

                    <div id="payment_business_options" class="form-group__fields hidden">
                        <div class="form-group">
                            <label for="company_code" class="form-group__label">Avtalenummer</label>
                            <div class="form-group__field form-group__field--large form-group__field--collapsed">
                                <input type="text" name="company_code" id="company_code" placeholder="Avtalenummer">
                            </div>
                            <div class="form-group__field form-group__field--small form-group__field--collapsed">
                                <button id="search_corporate" class="form-group__btn form-group__btn--next">Finn</button>
                            </div>
                        </div>
                        <div class="form-group choose_payment_type hidden">
                            <div class="form-group__field">
                                <h4 id="corporate_user_name"></h4>
                            </div>
                            <div class="form-group__field form-group__field--checkbox">
                                <input type="radio" name="payment_business_method" id="business_payment_cash" value="cash">
                                <label for="payment_cash">Kontant</label>
                            </div>
                            <div class="form-group__field form-group__field--checkbox">
                                <input type="radio" name="payment_business_method" id="business_payment_card" value="card">
                                <label for="payment_card">Kredittkort</label>
                            </div>
                            <div class="form-group__field form-group__field--checkbox invoice">
                                <input type="radio" name="payment_business_method" id="business_payment_invoice" value="invoice" data-radio-open="#business_invoice">
                                <label for="business_payment_invoice">Faktura</label>
                            </div>
                        </div>
                        <div id="business_invoice" class="hidden invoice">
                            <div class="form-group">
                                <div class="form-group__field">
                                    <h4>FAKTURA ADRESSE</h4>
                                    <p>Ola Normannsvei 14A, 0000, Oslo.</p>
                                </div>
                            </div>
                            <div class="form-group password">
                                <div class="form-group__field">
                                    <input type="text" name="business_code" placeholder="Passord">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group__field">
                                    <input type="text" name="input1" placeholder="input">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group__field">
                                    <input type="text" name="input1" placeholder="input">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group__field">
                                    <input type="text" name="input1" placeholder="input">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group__field">
                                    <input type="text" name="input1" placeholder="input">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <h3 class="bonus-program">BONUSPENGER</h3>

                <div class="form-group bonus-program hidden">
                    <div class="form-group__field form-group__field--checkbox not-bonus-customer">
                        <input type="checkbox" name="bonus" id="not-bonus-customer" value="1">
                        <label for="not-bonus-customer">Ved å bli lojalitetskunde får du bonuspenger på bestillingen din som du kan bruke ved senere anledning. Du aksepterer våre <a href="#">retningslinjer</a> ved å velge dette.</label>
                    </div>
                    <div class="form-group__field form-group__field--checkbox bonus-customer">
                        <input type="checkbox" name="bonus" id="bonus-customer" value="1">
                        <label for="bonus-customer">Label for bonus customer.</label>
                    </div>
                    <div class="form-group__field form-group__field--checkbox bonus-customer-has-no-money">
                        <input type="checkbox" name="bonus" id="bonus-customer-has-no-money" value="1">
                        <label for="bonus-customer-has-no-money">Label for bonus customer has no money.</label>
                    </div>
                    <div class="form-group__field form-group__field--checkbox bonus-customer-has-open-order">
                        <input type="checkbox" name="bonus" id="bonus-customer-has-open-order" value="1">
                        <label for="bonus-customer-has-open-order">Label for bonus customer has open order.</label>
                    </div>
                </div>

                <h3>VELG TIDSPUNKT FOR LEVERING</h3>

                <div class="form-group">
                    <div class="form-group__labels">
                        <label for="delivery_time" class="form-group__label">DATO & TID</label>
                    </div>

                    <div class="form-group__fields">
                        <div class="form-group__field form-group__field--large">
                            <select name="delivery_date" id="delivery_date">

                            </select>
                        </div>
                        <div class="form-group__field form-group__field--small">
                            <select name="delivery_time" id="delivery_time">

                            </select>
                        </div>
                    </div>
                    <div class="form-group__fields">
                        <p id="delivery_address"></p>
                    </div>
                </div>

                <h3>ORDREN DIN</h3>

                <div class="form-group">
                    <div class="table-container">
                        <table class="cart-table">
                            <tbody id="cart-content"></tbody>
                        </table>
                    </div>
                </div>

                <div class="cart__summary">
                    <div class="form-group form-group--bordered cart__summary-prices">
                        <div class="form-group__field form-group__field--text">
                            <p>Totalt</p>
                            <p class="cart__amount"><span id="cart-amount"></span> kr</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__field">
                            <button type="submit" class="form-group__btn form-group__btn--block form-group__btn--submit">BEKREFT BESTILLING</button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

    </main>
{% endblock %}
