<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">
        {% block page_head %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <title>{% block page_title %}{{ title|default( 'Home' ) }}{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <meta name="robots" content="noindex, nofollow" />
        {% endblock %}

        {% stylesheets
            '@bo_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            <link href="{{ asset('bundles/appbackoffice/css/menu.css') }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}

        {% javascripts
            '@bo_head_js'
        %}
            <script src="{{ asset_url }}"></script>
        <script src="{{ asset('assets/jquery-ui/jquery-ui.js') }}"></script>
        <script src="{{ asset('assets/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/appbackoffice/js/vendor/jquery.searcher.min.js') }}"></script>
        <script src="{{ asset('bundles/appbackoffice/js/vendor/jquery.serialize-object.min.js') }}"></script>
        <script src="{{ asset('bundles/appbackoffice/js/vendor/bootstrap-typeahead.min.js') }}"></script>
        {% endjavascripts %}

    </head>
    <body>

        {% block topMenu %}
            {% include 'AppBackOfficeBundle::topMenu.html.twig' %}
        {% endblock %}

        {% block content %}
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1>Close the web ordering</h1>
                    <p>If we experience problems we may want to stop customers from sending us orders from the web site. When we stop the customer we display a message that informs him that the ordering is closed. Below you will find a form to close and reopen the web ordering. Here you must also enter the title and message that should be presented to the customer.</p>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Show error message if title or message is empty and the user tries to close the ordering -->
                        <div class="alert alert-warning" role="alert">You must supply a title and a message to be displayed to the customer!</div>
                        <!-- Show this message after the ordering has been closed -->
                        <div class="alert alert-success" role="alert">The web ordering is now closed!</div>
                        <!-- Show this message after the ordering has been reopened -->
                        <div class="alert alert-success" role="alert">The web ordering is now reopened!</div>

                        <div class="form-group">
                            <label for="usr">Title:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Message:</label>
                            <input type="password" class="form-control" id="pwd" />
                        </div>
                        <div class="form-group">
                            <!-- Show when web ordering is open -->
                            <input type="button" class="btn btn-lg" id="close" value="Close the ordering" />
                            <!-- Show these two buttons when the ordering is closed -->
                            <input type="button" class="btn btn-lg" id="close" value="Update the message" />
                            <input type="button" class="btn btn-lg" id="close" value="Reopen the ordering" />
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block footer %}
            <div class="container">
                <hr>

                <footer>
                    <p>&copy; Norse Digital 2015</p>
                </footer>
            </div> <!-- /container -->
        {% endblock %}

        {% block footer_js %}
            {% javascripts
                '@bo_footer_js'
            %}
                <script src="{{ asset_url }}"></script>
            <script src="{{ asset('bundles/appbackoffice/js/menu_actions.js') }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
                $('.dropdownl').hover(function(){
                    $(this).toggleClass('open');
                });
            </script>
        {% endblock %}

    </body>
</html>
