{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Edit Footer Content{% endblock %}

{% block content %}
    <style>
        .footer-content .table div {
            border-width: 2px;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Footer Content</h3>
                <p>Footer link blocks can be managed on this page.</p>
                <form action="" method="post" class="form-horizontal footer-content" name="footer-content" data-app="footer-manager" enctype="multipart/form-data">
                    {% for block_id, block in data %}
                        <div class="panel panel-default" data-app-block="{{ block_id }}">
                            <div class="panel-heading">
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <input type="text" id="footer_content_{{ block_id }}_title" name="footer_content[{{ block_id }}][title]" class="form-control" value="{{ block.title is defined ? block.title : '' }}" />
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-danger btn-sm" type="button" data-app-block-remove>Remove block</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="row" width="20"><div class="input-sm">#</div></th>
                                        <th><div class="input-sm">Link title</div></th>
                                        <th><div class="input-sm">URL</div></th>
                                        <th width="20"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for link_id, link in block.links %}
                                        <tr data-app-link="{{ link_id }}">
                                            <th scope="row"><div class="input-sm">{{ link_id }}</div></th>
                                            <td><input type="text" id="footer_content_{{ block_id }}_links_{{ link_id }}_title" name="footer_content[{{ block_id }}][links][{{ link_id }}][title]" class="form-control input-sm" value="{{ link.title is defined ? link.title : '' }}" /></td>
                                            <td><input type="text" id="footer_content_{{ block_id }}_links_{{ link_id }}_href" name="footer_content[{{ block_id }}][links][{{ link_id }}][href]" class="form-control input-sm" value="{{ link.href is defined ? link.href : '' }}" /></td>
                                            <td class="text-right"><button class="btn btn-danger btn-sm" type="button" data-app-link-remove><i class="glyphicon glyphicon-remove"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="panel-body">
                                <div class="text-right">
                                    <button class="btn btn-primary btn-sm" type="button" data-app-link-add>Add link</button>
                                    <button class="btn btn-primary btn-sm" type="button" data-app-file-add>Add file</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-right">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary btn-sm" data-app-block-add>Add block</button>
                            <button type="submit" class="btn btn-success btn-sm">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ asset('bundles/appbackoffice/js/footer-manager.js') }}"></script>
{% endblock %}
