{% if images is iterable %}
    <div class="btn-group btn-group-justified js-btn-folders" role="group">
        {% for folder in folders %}
            <div class="btn-group" role="group">
                <button type="button"
                        data-folder="{{ folder }}"
                        class="btn btn-default {% if currentFolder == folder %}active{% endif %} js-select-folder">
                    {{ folder|upper }}
                </button>
            </div>
        {% endfor %}
    </div>
    {% for image in images %}
        <div class="image-block" data-id="{{ image.id }}" data-path="{{ image.path }}">
            <a href="#"
               class="js-select-image"
               title="Select image" role="button">
                <img src="{{ image.path }}">
            </a>
            <a class="btn btn-danger btn-xs js-delete-exist-image"
               href="{{ path('app_back_office_exist_image_delete', {'id': image.id}) }}"
               title="Remove image" role="button">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </div>
    {% endfor %}
    {% if pageCount > 1 %}
        <div class="navigations">
            <nav id="image_pagination">
                <ul class="pagination">
                    <li class="previous{% if page==1 %} disabled{% endif %}">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in 1..pageCount %}
                        <li class="{% if page==i %}active{% endif %}">
                            <a href="#">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="next{% if page==pageCount %} disabled{% endif %}">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    {% endif %}
{% endif %}