{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Restaurants{% endblock %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-7">
                <h1>{{ restaurant.title }}</h1>
                <h3>reastaurant:{{ restaurant.id }}</h3>
                <h2>mandatory product</h2>
                <form>
                    <table class="table table-hover big-icons text-left">
                        <tbody>
                        <tr>
                            <td><b>Product</b></td>
                            <td><b>Status</b></td>
                            <td><b>ETA</b></td>
                        </tr>
                            {% for key, product in settings_mandatory %}

                                <!-- start days of week -->
                                <tr>
                                    <td class="form-inline">
                                        {{ product.title }}
                                        <input type="hidden" name="id[]" value="{{ key }}">
                                    </td>
                                    <td class="form-inline">
                                        <select class="form-control input-sm" name="status_{{ key }}">
                                            <option value="0" {% if product.status == 0 %} selected{% endif%}>Out of stock</option>
                                            <option value="1" {% if product.status == 1 %} selected{% endif%}>Available</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="divtime">
                                            <input class="form-control datetime" name="datetime_{{ key }}" value="{{ product.datetime }}" size="8"/>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    <input class="btn btn-success btn-sm mandatory-change-button" type="button" value="Save change">
                   </br> </br>
                    <div class="alert_mandatory">
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-12">
            <div>
                <h2>optional product</h2>
                <form>
                    <h3>Message title</h3>
                    <input class="form-control input-lg" type="text" name="title" value="{{ settings_optionaly.title }}">
                    <h3>Message body</h3>
                    <textarea class="form-control input-lg" name="message">{{ settings_optionaly.message }}</textarea>
                    </br>
                    <input class="btn btn-success btn-sm add-message-button" type="button" value="Publish message">
                    <input class="btn btn-success btn-sm remove-message-button" type="button" value="Remove message">
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_js %}
    {{ parent() }}
    {% javascripts
    'bundles/appbackoffice/js/out_of_stock.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}