{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}{{ restaurants.0.title }} - Hours{% endblock %}

{% block content %}
    {#<a href="{{ path('open_hours_post_holiday') }}"></a>#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% for restaurant in restaurants %}
                <div class="restaurants-time-block" data-index="{{ restaurant.id }}">
                    <h1>{{ restaurant.title }}</h1>
                    <table class="table table-hover big-icons text-center">
                        <tbody>
                        <!-- start days of week -->
                        <tr>
                            <th>Day of week</th>
                            <th>in-house</th>
                            <th>take-away</th>
                            <th>delivery</th>
                            <th>visible delivery</th>
                        </tr>
                        {% for i in 1..7 %}
                            <tr class="days day-{{ i }}">
                                <td>{{ 'day.%name%'|replace({'%name%':((i+3)*3600*24)|date('D')})|trans({}, 'dolly')}}</td>
                                <td data-service="in-house" data-day="{{ i }}" data-index="{{ restaurant.id }}"
                                    class="form-inline day"></td>
                                <td data-service="take-away" data-day="{{ i }}" data-index="{{ restaurant.id }}"
                                    class="form-inline day"></td>
                                <td data-service="delivery" data-day="{{ i }}" data-index="{{ restaurant.id }}"
                                    class="form-inline day"></td>
                                <td data-service="visible_delivery" data-day="{{ i }}" data-index="{{ restaurant.id }}"
                                    class="form-inline day"></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th></th>
                            <th>
                                <input class="btn btn-success btn-sm agree" type="button" value="Save!"
                                       autocomplete="off" disabled="disabled" data-service="in-house"
                                       data-index="{{ restaurant.id }}">
                            </th>
                            <th>
                                <input class="btn btn-success btn-sm agree" type="button" value="Save!"
                                       autocomplete="off" disabled="disabled" data-service="take-away"
                                       data-index="{{ restaurant.id }}">
                            </th>
                            <th>
                                <input class="btn btn-success btn-sm agree" type="button" value="Save!"
                                       autocomplete="off" disabled="disabled" data-service="delivery"
                                       data-index="{{ restaurant.id }}">
                            </th>
                            <th>
                                <input class="btn btn-success btn-sm agree" type="button" value="Save!"
                                       autocomplete="off" disabled="disabled" data-service="visible_delivery"
                                       data-index="{{ restaurant.id }}">
                            </th>
                        </tr>

                        </tbody>
                    </table>
                    <!-- end days of week -->
                    <!-- start holidays -->
                    <table class="table table-hover big-icons text-center holidays">
                        <tbody>
                        <tr>
                            <th colspan="3" height="40px">Deviating Opening Hours</th>
                        </tr>
                        <tr>
                            <th>in-house</th>
                            <th>take-away</th>
                            <th>delivery</th>
                            <th>visible delivery</th>
                        </tr>
                        <tr>
                            <td data-service="in-house"></td>
                            <td data-service="take-away"></td>
                            <td data-service="delivery"></td>
                            <td data-service="visible_delivery"></td>
                        </tr>
                        {% for openhours in restaurant.openhours %}
                           {% if openhours.dayOfWeek is null %}
                                <div class="weekend" data-date="{{ openhours.date|date('Y-m-d') }}"
                                     data-id="{{ openhours.id }}"
                                     data-service="{{ openhours.service }}">
                                    <div data-id="{{ openhours.id }}">
                                        {{ openhours.reason }}({{ openhours.date|date('Y-m-d') }})
                                        <button type="button" class="btn btn-sm rm-date" type="button">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                        <br>
                                        <p>
                                        {% if openhours.openingTime == openhours.closingTime %}
                                        closed
                                        {% else %}
                                            {{  openhours.openingTime|date('H:i') }}
                                            -
                                            {{  openhours.closingTime|date('H:i') }}
                                        {% endif %}
                                        </p>
                                    </div>
                                </div>
                           {% else %}
                               <div class="week" data-day="{{ openhours.dayOfWeek }}"
                                    data-service="{{ openhours.service }}">
                                   <input class="form-control input-sm start-time"
                                          value="{{  openhours.openingTime|date('H:i') }}" size="8"/> -
                                   <input class="form-control input-sm end-time"
                                          value="{{  openhours.closingTime|date('H:i') }}" size="8"/>
                               </div>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <form class="add-holiday form-inline">
                        <select name="service" class="form-control input-sm">
                            <option value="in-house">in-house</option>
                            <option value="take-away">take-away</option>
                            <option value="delivery">delivery</option>
                            <option value="visible_delivery">visible delivery</option>
                        </select>
                        <input type="hidden" name="id" value="{{ restaurant.id }}">
                        <input name="date" class="form-control input-sm date-control" size="10" value="none"/>
                        <input name="start" class="form-control input-sm start-time" value="01:00" size="8"/> -
                        <input name="finish" class="form-control input-sm end-time" value="01:00" size="8"/>
                        <input name="reason" class="form-control input-sm" type="text" size="15">
                        <input class="btn btn-success btn-sm add-holiday-button" type="button" value="Add deviation"
                               data-index="{{ restaurant.id }}">
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div id="templates">
        <div id="template-empty-time">
            <input class="form-control input-sm start-time" value="none" size="8"/> -
            <input class="form-control input-sm end-time" value="none" size="8"/>
        </div>
        <div id="template-new-date">
                <button type="button" class="btn btn-sm rm-date" type="button">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <br>
        </div>
    </div>

    {#{% javascripts#}
        {#'bundles/appbackoffice/js/bootstrap-datepicker.min.js'#}
        {#'bundles/appbackoffice/js/bootstrap_timepicker.js'#}
        {#'bundles/appbackoffice/js/open_hours.js'#}
    {#%}#}
        {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    {% javascripts
        'bundles/appbackoffice/js/open_hours.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
