{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Front pages{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Front pages</h1>

            <p>Here you will find all front pages.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if entities|length > 0 %}
                    <table class="table table-hover big-icons">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Publish date</th>
                            <th>Unpublish date</th>
                            <th>Blocks</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for frontPage in entities %}

                            <tr>
                                <td>{{ frontPage.id }}</td>
                                <td>{{ frontPage.name }}
                                    <p class="js-default-text {% if frontPage.default == 0 %}hidden{% endif %}">
                                        (default)
                                    </p>
                                </td>
                                <td>{{ frontPage.showDate|date("Y-m-d H:i:s") }}</td>
                                <td>{{ frontPage.hideDate|date("Y-m-d H:i:s") }}</td>
                                <td>{{ frontPage.blocks|length }}</td>
                                <td>
                                    <p class="btn-group" role="group">
                                        <a class="btn btn-success btn-sm"
                                           href="{{ path('app_back_office_front_page_copy', {'id': frontPage.id}) }}"
                                           title="Copy this page" role="button"><i
                                                    class="glyphicon glyphicon-share"></i></a>
                                        <a class="btn btn-primary btn-sm"
                                           href="{{ path('app_back_office_front_page_show', {'id': frontPage.id}) }}"
                                           title="View page info" role="button"><i
                                                    class="glyphicon glyphicon-eye-open"></i></a>
                                        <a class="btn btn-warning btn-sm"
                                           href="{{ path('app_back_office_front_page_update', {'id': frontPage.id}) }}"
                                           title="Edit page info" role="button"><i
                                                    class="glyphicon glyphicon-edit"></i></a>
                                        <a class="btn btn-danger btn-sm js-delete-page"
                                           href="{{ path('app_back_office_front_page_delete', {'id': frontPage.id}) }}"
                                           title="Remove page" role="button"><i
                                                    class="glyphicon glyphicon-ban-circle"></i></a>
                                        <a class="btn btn-info btn-sm js-preview-page"
                                           href="{{ path('app_back_office_front_page_preview', {'id': frontPage.id}) }}"
                                           title="Preview page" role="button" target="_blank"><i
                                                    class="glyphicon glyphicon-fullscreen"></i></a>
                                        <a class="btn btn-default btn-sm {% if frontPage.default == 1 %}hidden{% endif %} js-set-default"
                                           href="{{ path('app_back_office_front_page_set_default', {'id': frontPage.id}) }}"
                                           title="Set as default" role="button"><i
                                                    class="glyphicon glyphicon-pushpin"></i></a>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There are no visible front pages</p>
                {% endif %}
                <p><a class="btn btn-success" href="{{ path('app_back_office_front_page_create') }}">Create</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_js %}
    {{ parent() }}
    <script src="{{ asset('bundles/appbackoffice/js/front_page_actions.js') }}"></script>
{% endblock %}