<td>{{ d_type }}</td>
<td>{{ formatted_o_date }}</td>
<td>{{ o_id }}</td>
<td>{{ d_phone }}</td>
<td>{{ formatted_o_time }}</td>
<td>{{ d_name }}</td>
<td>{{ d_adr }}</td>
<td>{{ d_city }}</td>
<td>{{ formatted_s_rtitle }}</td>
<td></td>
<td>{{ formatted_d_date }}</td>
<td></td>