{% if setting is not null %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <label for="title">Title</label>
        <input type="hidden" name="path" class="form-control" hidden id="form-submit-path"
               value="{{ path('app_back_office_product_setting_edit', {'id': setting.id}) }}"/>
        <input type="text" name="name" class="form-control" id="title"
               placeholder="Title"
               value="{{ setting.name }}"/>
    </div>
    <div class="modal-body">
        {% for names, values in setting.storage %}
            {% if values is iterable %}
                {% for name, val in values %}
                    {% if val is same as(false) or val is same as(true) %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="settings[{{ names }}][{{ name }}]"
                                       {% if val %}checked{% endif %} > {{ names }}_{{ name }}
                            </label>
                        </div>
                    {% else %}
                        <label for="{{ name }}">{{ names }}_{{ name }}</label>
                        <input type="text" name="settings[{{ names }}][{{ name }}]" class="form-control" id="{{ name }}"
                               placeholder="{{ name }}"
                               value="{{ val }}"/>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if values is same as(false) or values is same as(true) %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="settings[{{ names }}]"
                                   {% if values %}checked{% endif %} > {{ names }}
                        </label>
                    </div>
                {% else %}
                    <label for="{{ names }}">{{ names }}</label>
                    <input type="text" name="settings[{{ names }}]" class="form-control" id="{{ names }}"
                           placeholder="Title"
                           value="{{ values }}"/>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
{% endif %}