{% extends "AppDollyBundle::pagelayout.html.twig" %}
{% block page_title %}
    {% if entity.seo.seotitle is defined %}
        {{ entity.seo.seotitle }}
    {% else %}
        {{ entity.title }}
    {% endif %}
{% endblock %}
{% block page_head %}
    {{ parent() }}
    {% if entity.seo %}
        <meta name="description" content="{{ entity.seo.seodescription }}">
        <meta name="keywords" content="{{ entity.seo.seokeywords }}">
    {% endif %}
{% endblock %}
{% block content %}
    <article class="main main--article">
        <h1>{{ entity.title }}</h1>
        {{ entity.body|raw }}
    </article>
{% endblock %}
