id: {{ data.id }}<br />
firstName: {{ data.firstName }}<br />
lastName: {{ data.lastName }}<br />
acceptNewsletters: {{ data.acceptNewsletters }}<br />
isBonusCustomer: {{ data.isBonusCustomer }}<br />
addresse: <br />
<p>
    {% for address in data.getAdresses %}
        name: {{ address.name }}<br />
        address: {{ address.address }}<br />
        postCode: {{ address.postCode }}<br />
        postOffice: {{ address.postOffice }}<br />
        directions: {{ address.directions }}<br />

    {% endfor %}
</p>
